.photos {
  .list();
  .flex();
  .scroll();
  height: calc(100vh - 3rem - 3rem);
  overflow-y: auto;

  &__item {
    position: relative;
    .grid-3();
    padding-bottom: 25%;
  }
}

.photo {
  position: absolute;
  .middle();
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);

  &:hover {
    .photo__hover-content {
      visibility: visible;
    }
  }

  &__container {
    position: relative;
    left: 50%;
    width: calc(100% - @size);
    height: calc(100% - @size);
    transform: translate(-50%, 0);
  }

  &__image {
    position: absolute;
    .middle();
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: @size;
    line-height: @size;
    white-space: nowrap;
    text-align: center;
    transform: translate(-50%, 0);
    overflow: hidden;
    .font-size-small();
    .bold();
    .snow-text-shadow();
  }

  &__hover-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    .middle();
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    visibility: hidden;
  }

  &__tags {
    flex-grow: 1;
    width: 100%;
  }

  &__tag {
    .list;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

    > li {
      .font-size-large;
      .bold;
    }
  }
}
